{{ notification.createdAt|timefromnow }} {% trans %}ago{% endtrans %}

{% set event = notification.events[0] %}
{% set note = event.subject %}

<a href="{{ path('user_public_profile', { 'username': event.actor.username }) }}" title="{{ event.actor.username }}">
    {% include 'ABMundiUserBundle:Default:_iconuser.html.twig' with {'user': event.actor, 'filter': 'user_mini'} %}
</a>
<a href="{{ path('user_public_profile', { 'username': event.actor.username }) }}" title="{{ event.actor.username }}">{{ event.actor.username }}</a>

{% trans %}added a note on his goal{% endtrans %}

<a href="{{ path('goal_show', { 'username': note.goal.owner.username, 'slug': note.goal.slug }) }}">
    {{note.goal.name}}
</a>

{% trans with {'%percentage%': note.goal.percentage} %}with %percentage%%% of completion{% endtrans %}