{{ notification.createdAt|timefromnow }} {% trans %}ago{% endtrans %}

{% set event = notification.events[0] %}
{% set question = event.subject %}

<a href="{{ path('user_public_profile', { 'username': event.actor.username }) }}" title="{{ event.actor.username }}">
    {% include 'ABMundiUserBundle:Default:_iconuser.html.twig' with {'user': event.actor, 'filter': 'user_mini'} %}
</a>
<a href="{{ path('user_public_profile', { 'username': event.actor.username }) }}" title="{{ event.actor.username }}">{{ event.actor.username }}</a>

{% trans %}asked a question{% endtrans %}:

<a href="{{ path('question_show', { 'id': question.id}) }}">
    {{question.title}}
</a>
