{{ notification.createdAt|timefromnow }} {% trans %}ago{% endtrans %}

{% for actor in notification.actors %}
    {% set actor = actor.user %}
    {% if actor %}
        <a href="{{ path('user_public_profile', { 'username': actor.username }) }}" title="{{ actor.username }}">
            {% include 'ABMundiUserBundle:Default:_iconuser.html.twig' with {'user': actor, 'filter': 'user_mini'} %}
        </a>
        <a href="{{ path('user_public_profile', { 'username': actor.username }) }}" title="{{ actor.username }}">{{ actor.username }}</a>
    {% else %}{% trans %}Someone{% endtrans %}{% endif %}
    {% if not loop.last %}, {% endif %}
{% endfor %}
 
{% trans %}started to follow{% endtrans %} 

        <a href="{{ path('user_public_profile', { 'username': mainSubject.username }) }}" title="{{ mainSubject.username }}">
            {% include 'ABMundiUserBundle:Default:_iconuser.html.twig' with {'user': mainSubject, 'filter': 'user_mini'} %}
        </a>
        <a href="{{ path('user_public_profile', { 'username': mainSubject.username }) }}" title="{{ mainSubject.username }}">{% trans %}you{% endtrans %}</a>