{% extends 'ABMundiNotificationBundle::mail.html.twig' %}

{% set event = notification.events[0] %}
{% set question = event.subject %}
{% set goal = question.goal %}

{% block content %}
    <style>
    </style>
    <!-- subject: "{% trans with {'%name%': notification.user.name} %}email.question.create.subject{% endtrans %}" -->
    <div class="content" style="font-family: arial; margin: 0px; padding: 10px;" >
        {% trans %}Hello{% endtrans %}  
        {% spaceless %}
        <a href="{{ url('user_public_profile', { 'username': notification.user.username }) }}" title="{{ notification.user.username }}" class="user" style="color: green;">
            {% include 'ABMundiUserBundle:Default:_iconuser.html.twig' with {'user': notification.user, 'filter': 'user_mini'} %} {{ notification.user.username }}
        </a>,
        {% endspaceless %}
        
        {% trans %}maybe you might be interested{% endtrans %}
        <div class="topic" style="background-color: #ffffff; margin: 10px; padding: 10px; border: 1px solid #cccccc;" >
            {% for actor in notification.actors %}
                {% set actor = actor.user %}
                
                <a href="{{ url('user_public_profile', { 'username': actor.username }) }}" title="{{ actor.username }}" style="color: green;">
                    {% include 'ABMundiUserBundle:Default:_iconuser.html.twig' with {'user': actor, 'filter': 'user_small'} %} 
                    {{ actor.username }}
                </a>
            {% endfor %}

            {% trans %}asked the question {% endtrans %} 

            <a href="{{ url('question_show', { 'id': question.id}) }}" style="color: green;">
                {{question.title}}
            </a>
            
            {% trans %}on his goal {% endtrans %} 

            <a href="{{ url('goal_show', { 'username': goal.owner.username, 'slug': goal.slug }) }}" style="color: green;">
                {{goal.name}}
            </a>. 
            {% trans %}You can help him{% endtrans %}.
        </div>
    <div>
{% endblock %}